.hidden {display: none;}

#connectedSocialNetworkProviders{
    display: none;
}
.wrapper {
    // Wrapper properties
    border: 0px solid skyblue;
    padding: 15px;
    width: 300px;
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-top: 3em;

    // Global elements
    h4 {
        text-shadow: 1px 1px 1px #aaa;
        line-height: 1.5em;
        margin: 0;
    }
    a {
        color:#63d2ff;
        // text-decoration: none;
    }
    .red {
        color: #e95245;
    }

    // Basic layout for boxes
    .round-bordered-box {
        opacity: 0.92;
        text-align: center;
        background: #ccc;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #333;
        margin-bottom: 15px;
    }

    // Previous logins box
    div.previous-logins {

        clear: both;
        margin: 20px 0;
        padding-bottom: 30px;
        /* Logged times list */
        h4 {margin-bottom: 10px;}
        ul {
            // Properties
            border: 0px solid red;
            margin: 0;
            padding: 0 0 10px 0;

            li {
                display: list-item;
                float:left;
                list-style: none;
                border: 0px solid blue;
                width: 48px;
                text-indent: 30px;
                font-weight: bold;

                // Icon customization
                &#facebook {
                    background: url(../img/social/facebook.png) 0 center no-repeat;
                    background-size: 30px 30px;
                }
                &#twitter {
                    background: url(../img/social/twitter.png) 0 center no-repeat;
                    background-size: 30px 30px;
                }
                &#linkedin {
                    background: url(../img/social/linkedin.png) 0 center no-repeat;
                    background-size: 30px 30px;
                }
                &#googleplus {
                    background: url(../img/social/googleplus.png) 0 center no-repeat;
                    background-size: 30px 30px;
                }
                &#yahoo {
                    background: url(../img/social/yahoo.png) 0 center no-repeat;
                    background-size: 30px 30px;
                }
            }
        }
    }


    /* ---------- */
    /* LOGIN PAGE */
    /* ---------- */

    // Normal Login Box
    .normal-login {
        i {
            font-size: 8em;
            display: block;
        }
        input {
            display: block;
            width: 90%;
            margin-left: 5%;
            margin-top: 5%;
        }
    }

    // Social Login Box
    .register-container {
        margin-top: 1em;

        a {
           color: #0880d7;
       }
    }

    /* ------------ */
    /* WELCOME PAGE */
    /* ------------ */
    // Navigation
    nav.menu {
        left: 0;
        width: 100%;
        box-shadow: 2px 2px 9px #333!important;
        background: #303030;
        color: #ccc;
        margin: 0;
        padding: 0px 0;
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
        height: 3.2em;

        ul {
            margin: 0;
            padding: 0;
            li {
                float: left;
                display: block;
                color: #f2f2f2;
                -webkit-text-align: center;
                text-align: center;
                padding: 0.8em 1.3em;
                -webkit-text-decoration: none;
                text-decoration: none;
                font-size: 1em;
                line-height: 1.6em;
                i {
                    margin-right: 7px;
                    &.fa-twitter {color:#03abed;}
                    &.fa-google {color:#e95245;}
                    &.fa-linkedin {color:#2d90c7;}
                    &.fa-facebook {color:#325e9e;}
                }
                &#userphoto {
                    img {
                        border: 2px solid #ccc;
                        width: 30px;
                    }
                }
                &.logout {
                    float: right;
                    &:hover {
                        background: #e95245;
                        cursor: pointer;
                        a {
                            text-decoration: underline;

                        }
                    }
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    // Personal Data Layer
    .logged-info-box {
        background: #ddd;
        // width: 300px;
        img#userPhoto {
            float: left;
            width: 50px;
        }
    }

    // Gigya Components
    #connectedSocialNetworkProviders{
        border: 0px solid pink;
        ul {
            padding: 0;
            margin: 0;
            li {list-style: none;}
        }
    }
    #divConnect {
        margin: 0 auto;
    }
    #shareButtonContainer {
        input {
            margin-top: 10px;
        }
    }

    // Logout component
    .logout-box {
        input{
            width: 100%;
        }
        margin-bottom: 30px;
    }
}


/* LOGOUT LAYER */
.modal-logout-layer{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
    display: none;
}
.show {display: block!important;}
